<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
  <title>연습실 등록하기</title></head>
<body style="padding-top: 72px;">
<div th:replace="~{layout/nav::navigation}"></div>
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
  <title>연습실 등록하기</title></head>
<body style="padding-top: 72px;">
<div th:replace="~{layout/nav::navigation}"></div>
<section>
  <!-- Slider main container-->
  <div class="swiper-container detail-slider slider-gallery">
    <!-- Additional required wrapper-->
    <div class="swiper-wrapper">
      <!-- Slides-->
      <div class="swiper-slide"><a href="img/photo/photo-1426122402199-be02db90eb90.jpg" data-toggle="gallery-top" title="Our street"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/photo/photo-1426122402199-be02db90eb90.jpg" alt="Our street"></a></div>
      <div class="swiper-slide"><a href="img/photo/photo-1512917774080-9991f1c4c750.jpg" data-toggle="gallery-top" title="Outside"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/photo/photo-1512917774080-9991f1c4c750.jpg" alt="Outside"></a></div>
      <div class="swiper-slide"><a href="img/photo/photo-1494526585095-c41746248156.jpg" data-toggle="gallery-top" title="Rear entrance"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/photo/photo-1494526585095-c41746248156.jpg" alt="Rear entrance"></a></div>
      <div class="swiper-slide"><a href="img/photo/photo-1484154218962-a197022b5858.jpg" data-toggle="gallery-top" title="Kitchen"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/photo/photo-1484154218962-a197022b5858.jpg" alt="Kitchen"></a></div>
      <div class="swiper-slide"><a href="img/photo/photo-1522771739844-6a9f6d5f14af.jpg" data-toggle="gallery-top" title="Bedroom"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/photo/photo-1522771739844-6a9f6d5f14af.jpg" alt="Bedroom"></a></div>
      <div class="swiper-slide"><a href="img/photo/photo-1488805990569-3c9e1d76d51c.jpg" data-toggle="gallery-top" title="Bedroom"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/photo/photo-1488805990569-3c9e1d76d51c.jpg" alt="Bedroom"></a></div>
    </div>
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </div>
</section>
<div class="container py-5">
  <div class="row">
    <div class="col-lg-8">

    </div>
    <div th:replace="~{profile/navi/navigation::profilNavi}"></div>
  </div>
</div>
<div th:replace="~{layout/secondFooter::secondFooter}"></div>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>