<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation.musicroom.mapper.RoomMapper">

    <insert id="createRoom" parameterType="Room">
        INSERT INTO room(member_email, room_name, room_city, room_location, room_locationDetail, room_explanation, room_floor, room_facilities, room_count)
        VALUES (#{memberEmail},#{roomName},#{roomCity}, #{roomLocation}, #{roomLocationDetail},#{roomExplanation}, #{roomFloor}, #{roomFacilities}, 0)
    </insert>

    <select id="getAllRoom" resultType="RoomResponseDto">
        SELECT *
        FROM room
        WHERE member_email = #{memberEmail}
    </select>

    <!--도시별 연습실 찾기-->
    <select id="getAllRoomByCity">
        SELECT *
        FROM room
        WHERE room_city = #{roomCity}
    </select>

    <select id="getMyRoom">
        SELECT *
        FROM room
        WHERE room_name = #{roomName} AND room_location = #{roomLocation}
    </select>

    <select id="findAllRoom">
        SELECT *
        FROM room
    </select>

    <select id="ownerRoomDetail">
        SELECT *
        FROM room
        WHERE room_location = #{roomLocation}
    </select>
</mapper>