<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation.musicroom.mapper.RoomDetailTimeMapper"> 
    
    <select id="findRoomDetailTime">
        SELECT roomdetail_name, roomdetailtime_startDay, roomdetailtime_endDay, roomdetailtime_startTime, roomdetailtime_endTime
        FROM roomdetailtime
        WHERE roomdetail_id = #{roomDetailId}
    </select>

    <!--예약하기-->
    <insert id="reservationRoom">
        INSERT INTO roomdetailtime(roomdetail_id, roomdetail_name, roomdetailtime_startDay, roomdetailtime_endDay, roomdetailtime_startTime, roomdetailtime_endTime)
        VALUES (#{roomDetailId}, #{roomDetailName}, #{roomDetailTimeStartDay}, #{roomDetailTimeEndDay}, #{roomDetailTimeStartTime}, #{roomDetailTimeEndTime})
    </insert>
</mapper>