<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
  <title>오류 메세지</title></head>
<body>
<div class="mh-full-screen d-flex align-items-center dark-overlay"><img class="bg-image" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/photo/aron-visuals-3jBU9TbKW7o-unsplash.jpg" alt="Not found">
  <div class="container text-white text-lg overlay-content py-6 py-lg-0">
    <h1 class="display-3 fw-bold mb-5">권한이 없는 페이지입니다</h1>
    <p class="fw-light mb-5">죄송합니다. <span th:text="${username}" class="alert alert-danger" />님께선 이곳을 사용하실수 없습니다. 이곳은 사장님 혹은 운영자가 관리하는 페이지입니다.</p>
    <p class="mb-6"> <a class="btn btn-outline-light" th:href="@{'/'}"><i class="fa fa-home me-2"></i>홈페이지로 바로가기</a></p>
    <h3 class="h4 text-shadow" th:text="${exception}"></h3>
  </div>
</div>
<div th:replace="~{layout/secondFooter::secondFooter}"></div>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>