
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}"><title>로그인</title></head>
<body>
<div class="container-fluid px-3">
  <div class="row min-vh-100">
    <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
      <div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">
        <div class="mb-5"><img class="img-fluid mb-3" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/logo-square.svg" alt="..." style="max-width: 4rem;">
          <h2>로그인</h2>
        </div>
        <div th:if="${param.error}" class="form-group">
          <span th:text="${exception}" class="alert alert-danger">아이디 혹은 비밀번호가 잘못되었습니다.</span>
        </div>
        <form class="form-validate" th:action="@{/login}" method="post">
          <input type="hidden" th:value="secret" name="secret_key" />
          <div class="mb-4">
            <label class="form-label" for="loginUsername"> Email Address</label>
            <input class="form-control" name="username" id="loginUsername" type="email" placeholder="name@address.com" autocomplete="off" required data-msg="Please enter your email">
          </div>
          <div class="mb-4">
            <div class="row">
              <div class="col">
                <label class="form-label" for="loginPassword">Password</label>
              </div>
              <div class="col-auto"><a class="form-text small text-primary" href="#">비밀번호를 잊으셨나요?</a></div>
            </div>
            <input class="form-control" name="password" id="loginPassword" placeholder="Password" type="password" required data-msg="Please enter your password">
          </div>
          <div class="mb-4">
            <div class="form-check">
              <input class="form-check-input" id="loginRemember" type="checkbox">
              <label class="form-check-label text-muted" for="loginRemember"> <span class="text-sm">로그인 유지하기</span></label>
            </div>
          </div>
          <!-- Submit-->
          <div class="d-grid">
            <button class="btn btn-lg btn-primary">로그인하기</button>
          </div>
          <hr class="my-3 hr-text letter-spacing-2" data-content="OR">
          <div class="d-grid gap-2">
            <button class="btn btn btn-outline-primary btn-social"><i class="fa-2x fab btn-social-icon"> </i>KAKAO <span class="d-none d-sm-inline">로그인하기</span></button>
            <button class="btn btn btn-outline-song btn-social"><i class="fa-2x fab btn-social-icon"> </i>NAVER <span class="d-none d-sm-inline">로그인하기</span></button>
            <button class="btn btn btn-outline-muted btn-social"><i class="fa-2x fab btn-social-icon"> </i>GOOGLE <span class="d-none d-sm-inline">로그인하기</span></button>
          </div>
          <hr class="my-4">
          <p class="text-center"><small class="text-muted text-center">아직 회원이 아니신가요?<a th:href="@{/signupPage}">회원가입</a></small></p>
        </form><a class="close-absolute me-md-5 me-xl-6 pt-5" href="/">
        <svg class="svg-icon w-3rem h-3rem">
          <use xlink:href="#close-1"> </use>
        </svg></a>
      </div>
    </div>
    <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
      <div class="bg-cover h-100 me-n3" style="background-image: url(/image/mic.jpg);"></div>
    </div>
  </div>
</div>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>