<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
  <title>연습실 등록하기</title></head>
<body style="padding-top: 72px;">
<div th:replace="~{layout/nav::navigation}"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 py-5 p-xl-5" >
      <h1 class="text-serif mb-4">연습실 등록</h1>
      <hr class="my-4">
      <form id="myForm" action="#">
        <div class="controls">
          <div class="row" id="dataContainer">
            <div class="mb-4">
              <label class="form-label" for="text">연습실 이름</label>
              <input class="form-control" type="email" name="name" id="text" placeholder="연습실 이름을 적어주세요" required="required">
            </div>
            <div class="mb-4">
              <label class="form-label" for="location">연습실 위치</label>
              <input class="form-control" type="text" name="location" id="location" placeholder="위치" required="required">
            </div>
            <div class="mb-4">
              <label class="form-label" for="message">연습실 소개 </label>
              <textarea class="form-control" rows="4" name="message" id="message" placeholder="연습실에 대해 설명해주세요" required="required"></textarea>
            </div>
            <div class="col-12 mb-4">
              <label class="form-label">편의 시설</label>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="type_0" name="type[]">
                    <label class="form-check-label" for="type_0">청소기</label>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="type_1" name="type[]">
                    <label class="form-check-label" for="type_1">정수기</label>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="type_2" name="type[]">
                    <label class="form-check-label" for="type_2">보안문</label>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="type_3" name="type[]">
                    <label class="form-check-label" for="type_3">화장실</label>
                  </div>
                </li>
                <li class="list-inline-item">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="type_4" name="type[]">
                    <label class="form-check-label" for="type_4">엘레베이터</label>
                  </div>
                </li>
              </ul>
            </div>
            <hr class="my-4">
            <div class="text-end mb-3">
              <button class="btn btn-outline-success" type="button" onclick="addDataInputs()">추가</button>
            </div>
            <div class="col-sm-6">
              <div class="mb-4">
                <label class="form-label" for="name">연습실 층수</label>
                <input class="form-control" type="text" name="name" id="name" placeholder="몇층인가요?" required="required">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-4">
                <label class="form-label" for="surname">연습실 갯수</label>
                <input class="form-control" type="text" name="surname" id="surname" placeholder="해당 층의 방 갯수" required="required">
              </div>
            </div>
          </div>
          <hr class="my-4">
          <button class="btn btn-outline-primary" type="submit" onclick="submitForm()">연습실 생성</button>
        </div>
      </form>

      <script>
        function addDataInputs() {
          const dataContainer = document.getElementById("dataContainer");

          const newDataInput1 = document.createElement("div");
          newDataInput1.classList.add("col-sm-6");
          newDataInput1.innerHTML = `
            <div class="mb-4">
                <label class="form-label" for="name">연습실 층수</label>
                <input class="form-control" type="text" name="name" placeholder="몇층인가요?" required="required">
            </div>
          `;

          const newDataInput2 = document.createElement("div");
          newDataInput2.classList.add("col-sm-6");
          newDataInput2.innerHTML = `
            <div class="mb-4">
                <label class="form-label" for="surname">연습실 갯수</label>
                <input class="form-control" type="text" name="surname" placeholder="해당 층의 방 갯수" required="required">
            </div>
            `;

          dataContainer.appendChild(newDataInput1);
          dataContainer.appendChild(newDataInput2);
        }
      </script>
    </div>
  </div>
</div>
<div th:replace="~{layout/secondFooter::secondFooter}"></div>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>