
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}">
  <title>회원가입</title>
</head>
<body>
<div class="container-fluid px-3">
  <div class="row min-vh-100">
    <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
      <div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">
        <div class="mb-4"><img class="img-fluid mb-4" src="https://d19m59y37dris4.cloudfront.net/directory/2-0-2/img/logo-square.svg" alt="..." style="max-width: 4rem;">
          <h2>회원가입</h2>
          <p class="text-muted">회원가입에 감사드리며, 저희 서비스를 온전히 이용하시려면 프로필에서 추가적인 정보 입력을 완료해주세요</p>
        </div>
        <form class="form-validate" th:action="@{/signUp}" method="post">
          <div class="mb-4">
            <label class="form-label" for="loginUsername"> 이메일</label>
            <input class="form-control" name="MemberEmail" id="loginUsername" type="email" placeholder="name@address.com" autocomplete="off" required data-msg="Please enter your email">
          </div>
          <div class="mb-4">
            <label class="form-label" for="loginPassword"> 비밀번호</label>
            <input class="form-control" name="MemberPassword" id="loginPassword" placeholder="Password" type="password" required data-msg="Please enter your password">
          </div>
          <div class="mb-4">
            <label class="form-label" for="loginPassword2"> 비밀번호 재확인</label>
            <input class="form-control" name="MemberCheckPassword" id="loginPassword2" placeholder="Password repeat" type="password" required data-msg="Please enter your password">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-lg btn-primary" type="submit">회원가입</button>
          </div>
          <hr class="my-4">
        </form>
        <p class="text-sm text-muted">저희 서비스에 가입해주신다는건 이용 약관 및 개인정보 보호정책에 동의하는 것입니다.</p>
        <a class="close-absolute me-md-5 me-xl-6 pt-5" href="/">
        <svg class="svg-icon w-3rem h-3rem">
          <use xlink:href="#close-1"> </use>
        </svg></a>
      </div>
    </div>
    <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
      <div class="bg-cover h-100 me-n3" style="background-image: url(/image/mic.jpg);"></div>
    </div>
  </div>
</div>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>