.btn-outline-primary {
    --bs-btn-color: #FFD600 !important;
    --bs-btn-border-color: #FFD600 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #FFD600 !important;
    --bs-btn-hover-border-color: #FFD600 !important;
    --bs-btn-focus-shadow-rgb: 255, 214, 0 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #FFD600 !important;
    --bs-btn-active-border-color: #FFD600 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #FFD600 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #FFD600 !important;
    --bs-gradient: none !important;
}

.btn-outline-song {
    --bs-btn-color: #1EC800 !important;
    --bs-btn-border-color: #1EC800 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #1EC800 !important;
    --bs-btn-hover-border-color: #1EC800 !important;
    --bs-btn-focus-shadow-rgb: 30, 200, 0 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #1EC800 !important;
    --bs-btn-active-border-color: #1EC800 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #1EC800 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #1EC800 !important;
    --bs-gradient: none !important;
}